<section id="main" name="main">
    <section id="theTable">
        <ng-template #loading>
            <img src="../../../assets/images/loading.jpg" alt="" width="300px">
        </ng-template>

        <section id="couponsTable" name="couponsTable">
            <table *ngIf="customerService.customerCoupons;else loading">
                <thead>
                    <tr>
                        <th>Title</th>
                        <!-- <th>Price</th> -->
                        <th>Company</th>
                        <!-- <th>Category</th> -->
                        <!-- <th>Description</th> -->
                        <!-- <th>Start Date</th> -->
                        <th>End Date</th>
                        <!-- <th>Amout</th> -->
                        <!-- <th>Image</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of customerService.customerCoupons">
                        <td>{{c.title}}</td>
                        <!-- <td>$ {{c.price}}</td> -->
                        <td>{{c.company.name}}</td>
                        <!-- <td>{{c.category}}</td> -->
                        <!-- <td>{{c.startDate}}</td> -->
                        <td>{{c.endDate}}</td>
                        <!-- <td>{{c.image}}</td> -->
                    </tr>
                </tbody>
            </table>
        </section>
    </section>


    <!-- <div id="menu">
        <h2>Filters</h2>
       <h3>Company</h3>
        <select name="companyNameFilter" id="companyNameFilter" placeholder="Company" #companyNameFilter> 
            <option value=""></option>
            <option [value]="companyName" *ngFor="let companyName of companiesName">{{companyName}}</option>
        </select>
        <br>
        <h3>Category</h3>
        <select name="category" id="category" placeholder="Category" #categoryFilter >
            <option value=""></option>
            <option value="COMPUTERS">Computers</option>
            <option value="SMARTPHONES">Smartphones</option>
            <option value="SOFTWARE">Software</option>
            <option value="CLOUD_STORAGE">Cloud storage</option>
        </select>
        <br>
        <h3>Experation date after</h3>
        <input type="date" #endDateFilter placeholder="01-01-2000" min="01-01-2000" max="01-01-2100">
        <br>
        <br>
        <br>
        <br>
        <button (click)="getFilteredCoupons(companyNameFilter.value, categoryFilter.value, endDateFilter.value)">Submit</button>
    </div> -->
</section>

