<section>


    <header>
        Hello {{customerService.customer.firstName}} {{customerService.customer.lastName}}, Welcome to the coupon system website
        <button (click)="logout()">logout</button>
    </header>

    <div id="menu">
        <a routerLink="coupons" routerLinkActive="active-link">My coupons</a>
        <a routerLink="purchase" routerLinkActive="active-link">Purchase Coupons</a>
        <!-- <a routerLink="view-customers" routerLinkActive="active-link">view customers</a> -->
    </div>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <div>
            <p>All Rights Reserved To Nitsan David Gabbay &copy;</p>
        </div>
    </footer>

</section>