<div *ngIf="customer">
    <form name="titles" id="titles">
        <h3>First Name:</h3>
        <h3>Last Name:</h3>
        <h3>Email:</h3>
        <h3>Password:</h3>
    </form>
    <form name="information" id="information">
        <br>
        <br>
        <input type="text" [(ngModel)]="customer.firstName" name="customerFirstNameFromTS">
        <br>
        <br>
        <input type="text" [(ngModel)]="customer.lastName" name="customerLastNameFromTS">
        <br>
        <br>
        <input type="text" [(ngModel)]="customer.email" name="customerEmailFromTS">
        <br>
        <br>
        <br>
        <input type="text" [(ngModel)]="customer.password" name="customerPasswordFromTS">
    </form>
</div>
<hr>
<button (click)="updateCustomer()">Approve</button>
<button (click)="deleteCustomer()">Delete</button>