<p>
    hello, welcome to one of my web projects.
    <br>
    this coupon website project was made to present my
    programming skills. the backend was created using Java and
    the front end was created using angular with TS.
    <br>
    <br>
    to enter as an admin:
    <br>
    userName: admin@admin.com
    <br>
    password: admin
    <br>
    <br>
    to enter as one of the companies (you can see the rest as an admin):
    <br>
    userName: apple@gmail.com
    <br>
    password: 1234
    <br><br>
    to enter as one of the customers:
    <br>
    userName: avrahamcohen@gmail.com
    <br>
    password: 1234
    <br><br>
    you can contact me via my email:
    NitzanDavidGabbay@gmail.com
</p>