<div *ngIf="company">
    <form name="titles" id = "titles">
        <h3>Name:</h3>
        <h3>Email:</h3>
        <h3>Password:</h3>
    </form>
    <form name="information" id="information">
        <h3>{{company.name}}</h3>
        <input type="text" [(ngModel)] = "company.email" name="companyEmailFromTS">
        <br>
        <br>
        <input type="text" [(ngModel)] = "company.password" name="companyPasswordFromTS">
    </form>
</div>
<hr>
<button (click) = "updateCompany()">Approve</button>
<button (click) = "deleteCompany()">Delete</button>
